.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon:hover{
    box-shadow: 2px 2px 4px 4px #00000090;
    cursor: pointer;
}

.centralize{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin: 18vh auto;
}


.pokedex__img{
    position: absolute;
    top: 0%;
    z-index: 101;
    left: calc(50vw - 75px);
    width: 150px;
}

.pokedex__logo{
    position: absolute;
    top: 10%;
    left: calc(50vw - 175px);
    z-index: 102;
    width: 350px;

}

.content h1{
    text-align: center;
    padding: 15px 0;
}

.bgblue, .bgred{
    display: flex;
    height: 100vh;
    width: 50%;
    position: fixed;
    z-index: 0;
    opacity: 0.8;
}

.bgblue{
    background-color: blue;
    right: 0;
}

.bgred{
    background-color: red;
    left: 0;
}

.normal {background-color: #a6a877;}
.grass {background-color: #77c850;}
.fire {background-color: #ee7f30;}
.water {background-color: #678fee;}
.electric {background-color: #f7cf2e;}
.ice {background-color: #98d547;}
.ground {background-color: #dfbf69;}
.flying {background-color: #a98ff0;}
.poison {background-color: #a040a0;}
.fighting {background-color: #bf3029;}
.psychic {background-color: #f65687;}
.dark {background-color: #725847;}
.rock {background-color: #b8a137;}
.bug {background-color: #a8b720;}
.ghost {background-color: #6e5896;}
.steel {background-color: #b9b7cf;}
.dragon {background-color: #6f38f6;}
.fairy {background-color: #f9aec7;}

.pokemon{
    margin: .5rem;
    padding: 2rem 1rem;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-image: url(../../img/ballbg.webp);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 65% 50%;
}

.pokemon .number{
    text-align: right;
    color: #000;
    opacity: .3;
    font-size: .625rem;
}

.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
    font-weight: 700;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon .detail .types .type{
    color: white;
    width: 60px;
    padding: .25rem .7rem;
    font-size: .8rem;
    margin: .25rem 0;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
    box-shadow: 2px 2px 4px 4px #00000020;
}


.pokemon .detail img{
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #678fee;
    border-radius: 3rem;
    border: none;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    margin: .25rem 0;
}

.pagination button:hover{
    background-color: blue;
    opacity: 0.8;
}

/* status do pokemon */
.pokemonstatus{
    position: fixed!important;
    z-index: 200!important;
    background-color: #fff;
    height: 80vh;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: #F5F5F5;
    border: 2px solid #00000088;
    box-shadow: 2px 2px 4px 4px #00000090;
}

.pokemonstatus h2{
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin-top: 0;
    border-radius: 15px 15px 0 0;
}

.pokemonstatus .pokemon-status__header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonstatus .pokemon-status__header img{
    width: 180px;
    height: 180px;
}

.pokemon-status__types{
    color: white;
    width: 60px;
    padding: .10rem .7rem;
    font-size: .8rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
    box-shadow: 2px 2px 4px 4px #00000020;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.pokemon-status__body{
    background-color: #9797976b;
    height: 360px;
    border-radius: 0 0 15px 15px;
    align-self: center;
}

.pokemon-status__exit{
    cursor: pointer;
    background-color: transparent;
    width: 30px;
    height: 30px;
    justify-self: right!important;
    overflow: hidden;
    position: relative;
}

.pokemon-status__exit::before,
.pokemon-status__exit::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000; /* Cor do traço do "X" */
    top: 50%;
    left: 0;
    transform-origin: center;
    transform: translateY(-50%) rotate(45deg);
}

.pokemon-status__exit::after {
  transform: translateY(-50%) rotate(-45deg);
}

.poke__title h2{
    margin: 0;
    text-align: center;
    width: 100%;
    padding-left: 30px;
}

.poke__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
    margin-bottom: 20px;
}



@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .content{
        max-width: 992px;
        margin: auto;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: auto;
        height: 100%;
        border-radius: 1rem;
    }

    .pokemonstatus{
        height: 750px;
        width: 900px;
        top: 50%;
        left: 50%;
    }

    .pokemon-status__body{
        height: 420px;
    }
}